<!-- templates/select_age_category.html -->
{% extends 'base.html' %}
{% include './partials/_menu.html' %}

{% block main %}
<form action="{{ url_for('club.select_gender') }}" method="POST">
    <table class="update-form">
        <caption class="table-caption">Select Gender for players listing</caption>
        <tr>
            <td><label for="male">Male</label></td>
            <td><input type="radio" id="male" name="gender" value=0 required checked></td>
        </tr>
        <tr>
            <td><label for="female">Female</label></td>
            <td><input type="radio" id="female" name="gender" value=1 required></td>
        </tr>
        <tr>
            <td><label for="mixte">Mixte</label></td>
            <td><input type="radio" id="mixte" name="gender" value=2 required></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Continuer"></td>
        </tr>
    </table>
</form>
{% endblock %}
