<!-- templates/list_championships.html -->
{% extends 'base.html' %}
{% include './partials/_menu.html' %}

{% block main %}
<main>
    {% if championships %}
    <table class="championships">
        <caption class="table-caption">{{exempted_pool}} Liste des championnats ouverts</caption> <!-- Titre ajouté ici -->
        <thead>
        <tr>
            <th>Nom</th>
            <th>Nb équipes</th>
            <th>Nb poules</th>
            <th>Nb journées</th>
            <th>Nb simples / doubles</th>
            <th>Période</th>
            <th>Action</th>
        </tr>
        </thead>
        {% for championship in championships %}
        {% set exempted_pool = 1 if championship.exempted_teams else 0 %}
        {% set singles_label = 'simples' if championship.singlesCount > 1 else 'simple' %}
        {% set doubles_label = 'doubles' if championship.doublesCount > 1 else 'double' %}
        <div id="pool">
            <tr>
                <td><a href="{{ url_for('championship.show_pools', id=championship.id) }}">{{ championship.name }}</a></td>
                <td>{{ championship.teams|length }}</td>
                <td>{{ championship.pools|length - exempted_pool }}</td>
                <td>{{ championship.matchdays|length }}</td>
                <td>{{ championship.singlesCount }} {{singles_label}} / {{ championship.doublesCount }} {{doubles_label}}</td>
                <td>{{ championship.matchdays[0].date.strftime('%d/%m') }}-{{ championship.matchdays[-1].date.strftime('%d/%m') }}</td>
                <td>
                    <form action="{{ url_for('championship.simulate_championship', championship_id=championship.id) }}" method="post">
                        <input type="submit" value="Simulate" onclick="return confirm('Are you sure you want to simulate this championship?<br>This will takes about 2 minutes')">
                    </form>
                </td>
<!--                <td>
                    <form action="{{ url_for('championship.delete_championship', championship_id=championship.id) }}" method="post">
                        <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this championship?')">
                    </form>
                </td>-->
            </tr>
        </div>
        {%endfor %}
    </table>
    {% else %}
    <p style="font-size: 16px; text-align: center;">>Pas de championnat! ✌️</p>
    {% endif %}
</main>
{% endblock main %}
