<!-- templates/partials/_menu.html -->

<table class="menu">
    <tr>
        <td><a href="{{ url_for('welcome') }}"><button>Menu principal</button></a></td>
        {% if request.blueprint == 'championship' %}
            <td><a href="{{ url_for('championship.manage_championship') }}"><button>Sommaire championnats</button></a></td>
        {% elif request.blueprint == 'club' %}
            <td><a href="{{ url_for('club.manage_club') }}"><button>Sommaire club</button></a></td>
        {% endif %}
    </tr>
</table>


