<!-- templates/partials/_menu.html -->

<table class="menu">
    <tr>
        <td><a href="{{ url_for('welcome') }}"><button>Menu principal</button></a></td>
        {% if request.blueprint == 'championship' and request.path != '/championship/' %}
            <td><a href="{{ url_for('championship.index') }}"><button>Sommaire championnats</button></a></td>
        {% elif request.blueprint == 'club' and request.path != '/club/' %}
            <td><a href="{{ url_for('club.index') }}"><button>Sommaire club</button></a></td>
        {% elif request.blueprint == 'admin' and request.path != '/admin/' %}
            <td><a href="{{ url_for('admin.index') }}"><button>Sommaire administration</button></a></td>
        {% endif %}
    </tr>
</table>


