<!-- medical/templates/medical_index.html -->

{% extends 'base.html' %}
{% include './partials/_menu.html' %}

{% block main %}
<main>
    <table border="1">
        <thead>
            <tr>
                <th>Localisation</th>
                <th>Blessures aïgues</th>
                <th>Blessures de surmenage</th>
            </tr>
        </thead>
        <tbody>
            {% for site in injury_sites %}
                <tr>
                    <td>{{ site.name }}</td>
                    <td>{{ ', '.join(site.acute_injuries) }}</td>
                    <td>{{ ', '.join(site.overuse_injuries) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock main %}