<!-- templates/index.html -->

{% extends 'base.html' %}
{% include './partials/_menu.html' %}

{% block main %}
<main>
    <table class="welcome">
        <caption class="table-caption">Gestion médicale</caption> <!-- Titre ajouté ici -->
        <tr>
            <td><a href="{{ url_for('medical.search_players') }}">Recherche joueur/joueuse</a></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('medical.injuries') }}">Classification blessures</a></td>
        </tr>
    </table>
</main>

{% endblock main %}
