body {
    background-color: #F7FAFC;
    justify-content: center;
    margin-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flexbox;
    width: 100%;
}

input {
    padding: 16px 32px;
    margin: 1px;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
}

input::placeholder {
    font-size: 16px;
}

input:focus {
    outline: none;
}

input[type="submit"] {
    background-color: darkblue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}


.players {
    width: 100%;
    border-collapse: collapse;
    grid-template-columns: repeat(10, 1fr); /* Trois colonnes égales */
}

a {
    color: #1E1E2D;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

p {
    font-size: 16px;
}

button {
  color: darkblue;
  background-color: lightgray;
  padding: 7px;
  border: none; /* Modification de la propriété border */
  border-radius: 5px;
  border-collapse: collapse;
}

 /* This is important for block-level elements */
/*
table.menu {
    margin-left: auto;
    margin-right: auto;
    display: block;
 } */

table.menu tr, table.menu td {
  border: none; /* Modification de la propriété border */
  display: inline;
  text-align: center;
  color: darkblue;
  background-color: lightgray;
  padding: 7px;
  margin-bottom: 20px;
  border-radius: 5px;
  border-collapse: collapse;
  font-size: 16px;
}


table.welcome tr {
  margin-bottom: 20px; /* Augmentation de l'espacement entre les lignes */
}

table.welcome tr, table.welcome td{
  color: darkblue;
  background-color: lightgray;
  padding: 7px;
  border: none; /* Suppression du contour des cellules */
  border-radius: 5px;
  border-collapse: collapse;
}


table.add-form tr td select {
  text-align: center;
  background-color: lightgray;
  padding: 7px;
  border: none;
  border-collapse: collapse;
}


table.update-form tr td select {
  text-align: center;
  color: darkblue;
  background-color: lightgray;
  padding: 7px;
  border: none;
  border-collapse: collapse;
}

table.update-form select {
  font-size: 16px;
 }


 /* Centre le contenu horizontalement dans le conteneur de grille */
main {
    display: grid;
    justify-items: center;
}


th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.table-caption {
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

