<!-- templates/select_club.html -->
{% extends 'base.html' %}
{% include './partials/_menu.html' %}

{% block main %}
<form action="{{ url_for('admin.select_club') }}" method="POST">
    <table class="update-form">
        <caption class="table-caption">Sélection club</caption>
        <tr>
            <td><label for="club">Club:</label></td>
            <td>
                <select id="club" name="club_id" required>
                    <option value="">Sélectionner un club</option> <!-- Option vide -->
                    {% for club in clubs %}
                    {% if selected_club and selected_club.id == club.id %}
                        <option value="{{ club.id }}" selected>{{ club.name }}</option>
                    {% else %}
                        <option value="{{ club.id }}">{{ club.name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Continuer"></td>
        </tr>
    </table>
</form>
{% endblock %}
