<!-- blueprints/medical/templates/medical/medical_index.html -->

{% extends 'base.html' %}

{% block main %}
{% include 'partials/_menu.html' %}
<main>
    <table class="welcome">
        <caption class="table-caption">Infirmerie / Suivi médical</caption>
        <tr>
            <td><a href="{{ url_for('medical.injuries') }}">📋 Classification des blessures</a></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('medical.injured_players') }}">🤕 Joueurs blessés</a></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('medical.search_players') }}">🔍 Rechercher un joueur</a></td>
        </tr>
    </table>
</main>
{% endblock main %}