<!-- jobs/templates/base.html -->
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Gestion équipes</title>
</head>

<body>
    {%- for category, message in get_flashed_messages(with_categories = true) %}
    <div class="alert alert-danger">{{ message }}</div>
    {%- endfor %}
    {% block main %}

    {% endblock main %}
</body>

</html>