<!-- templates/index.html -->

{% extends 'base.html' %}
{% block main %}
<main>
    <table class="welcome">
        <tr>
            <td><a href="{{ url_for('club.index') }}">Gestion club</a></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('championship.index') }}">Gestion championnats</a></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('admin.index') }}">Administration</a></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('medical.index') }}">Infirmerie</a></td>
        </tr>
    </table>
</main>
{% endblock main %}
