<!-- templates/index.html -->

{% extends 'base.html' %}
{% block main %}
<main>
    <table class="welcome">
        <tr>
            <td><a href="{{ url_for('select_gender') }}">Liste joueurs(euses) disponibles</a></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('show_teams') }}">Liste équipes</a></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('new_player') }}">Nouveau joueur</a></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('select_gender_new_team') }}">Nouvelle équipe</a></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('select_age_category') }}">Nouveau championnat</a></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('list_championships') }}">Liste championnats</a></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('show_invalid_players') }}">Liste joueurs(euses) indisponibles</a></td>
        </tr>
    </table>
</main>
{% endblock main %}
