<!-- tennis/templates/index.html -->

{% extends 'base.html' %}
{% block main %}
<main>
    <table class="welcome">
        <tr>
            <td><a href="{{ url_for('show_players') }}">Liste joueurs disponibles</a></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('show_teams') }}">Liste équipes</a></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('new_player') }}">Nouveau joueur</a></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('show_invalid_players') }}">Liste joueurs indisponibles</a></td>
        </tr>
    </table>
</main>
{% endblock main %}
