<!-- templates/list_championships.html -->
{% extends 'base.html' %}
{% include './partials/_menu.html' %}

{% block main %}
  {% if championships %}
  <h1>Liste des championnats</h1>
  <ul>
    {% for championship in championships %}
      {% set gender = 'Hommes' if championship.gender == 0 else 'Femmes' if championship.gender == 1 else 'Mixte'%}
      <li>({{ championship.startDate.strftime('%a. %d %b %Y') }} au {{ championship.endDate.strftime('%a. %d %b %Y') }}) {{ championship.name }} - {{ championship.singlesCount }} simples / {{ championship.doublesCount }} doubles</li>
    {% endfor %}
  </ul>
  {% else %}
  <p style="font-size: 16px; text-align: center;">Pas de championnat! ✌️</p>
  {% endif %}
{% endblock %}
