<!-- templates/new_championship.html -->
{% extends 'base.html' %}
{% include './partials/_menu.html' %}

{% block main %}
<main>
    <h1>Création d'un championnat</h1>
    <form action="{{ url_for('new_championship') }}" method="POST">
        <label for="name">Nom :</label>
        <input type="text" id="name" name="name" required><br><br>
        
        <label for="start_date">Date de début :</label>
        <input type="date" id="start_date" name="start_date" required><br><br>
        
        <label for="end_date">Date de fin :</label>
        <input type="date" id="end_date" name="end_date" required><br><br>
        
        <label for="age_category">Catégorie d'âge :</label>
        <input type="text" id="age_category" name="age_category" required><br><br>
        
        <label for="singles_count">Nombre de matchs simples :</label>
        <input type="number" id="singles_count" name="singles_count" min="0" required><br><br>
        
        <label for="doubles_count">Nombre de matchs doubles :</label>
        <input type="number" id="doubles_count" name="doubles_count" min="0" required><br><br>
        
        <label for="gender">Genre :</label><br>
        <input type="radio" id="male" name="gender" value="0" required checked>
        <label for="male">Homme</label><br>
        <input type="radio" id="female" name="gender" value="1" required>
        <label for="female">Femme</label><br><br>

        <input type="submit" value="Créer championnat">
    </form>
</main>
{% endblock %}
