<!-- templates/new_championship.html -->
{% extends 'base.html' %}
{% include './partials/_menu.html' %}

{% block main %}
<main>
    <form action="{{ url_for('championship.new_championship') }}" method="POST">
        <table class="update-form">
            <caption class="table-caption">Fiche création championnat {{selected_division}}</caption>
            <!-- Hidden field for division_id -->
            <input type="hidden" name="division" value="{{ selected_division.id }}">
<!--            <tr>
                <td><label for="name">Nom :</label></td>
                <td><input type="text" id="name" name="name" required></td>
            </tr>-->
            <td><label for="start_date">Date de début :</label></td>
            <td><input type="date" id="start_date" name="start_date" required></td>
            </tr>

            <tr>
                <td><label for="end_date">Date de fin :</label></td>
                <td><input type="date" id="end_date" name="end_date" required></td>
            </tr>

            <tr>
                <td><label for="singles_count">Nombre de matchs simples :</label>
                </td>
                <td><input type="number" id="singles_count" name="singles_count" min="0" required></td>
            </tr>

            <tr>
                <td><label for="doubles_count">Nombre de matchs doubles :</label>
                </td>
                <td><input type="number" id="doubles_count" name="doubles_count" min="0" required></td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" value="Créer championnat"></td>
            </tr>
        </table>
    </form>
</main>
{% endblock %}
