<!-- tennis/templates/new.html -->

<form action="{{ url_for('new_player') }}" , method="POST">
    <table class="add-form">
        <tr>
            <td><input type="text" name="name" placeholder="Nom"></td>
            <td><input type="date" name="birth_date" placeholder="Date de naissance"></td>
            <td><input type="text" name="height" placeholder="Taille"></td>
            <td><input type="text" name="weight" placeholder="Poids"></td>
            <td><input type="checkbox" name="is_captain" placeholder="Capitaine"></td>
            <td><input type="submit" value="Ajout joueur"></td>
        </tr>
    </table>
</form>