<!-- tennis/templates/players.html -->

{% extends 'base.html' %}
{% include './partials/_menu.html' %}

{% block main %}
{% set status = 'actifs' if active_players else 'inactifs' %}

<script>
    function confirmDelete(playerId) {
        var result = confirm("Êtes-vous sûr de vouloir supprimer ce joueur: ?");
        if (result) {
            window.location.href = "delete/" + playerId;
        }
    }
</script>
<main>
    {% if players %}
    <table class="players">
        <caption class="table-caption">Liste des joueurs {{ status }}</caption> <!-- Titre ajouté ici -->
        <thead>
        <tr>
            <th>Update</th>
            {% if active_players %}
            <th>Delete</th>
            {% endif %}
            <th>Nom</th>
            <th>Age</th>
            <th>Taille</th>
            <th>Poids</th>
            <th>Equipe</th>
            <th>Capitaine</th>
        </tr>
        </thead>
        {% for player in players %}
        <div id="player">
            <tr>
                <td align="center">
                    <a href="{{ url_for('update_player', id=player.id) }}">{{player.id}}</a>
                </td>
                {% if active_players %}
                <td align="center">
                    <button onclick="confirmDelete({{ player.id }})">{{player.id}}</button>
                </td>
                {% endif %}
                <td>{{ player.name }}</td>
                <td>{{ player.age }}</td>
                <td>{{ player.height }}</td>
                <td>{{ player.weight }}</td>
                <td>{{ player.team }}</td>
                <td>
                    {% if player.isCaptain %}
                    <img src="{{ url_for('static', filename='icones/cbx_ok.png') }}" alt="Capitaine">
                    {% else %}
                    <img src="{{ url_for('static', filename='icones/cbx_ko.png') }}" alt="Non Capitaine">
                    {% endif %}
                </td>
            </tr>
        </div>
        {%endfor %}
    </table>
    {% else %}
    <p style="font-size: 16px; text-align: center;">Pas de joueur disponible ✌️</p>
    {% endif %}
</main>
{% endblock main %}
