<!-- tennis/templates/players.html -->

{% extends 'base.html' %}
{% include './partials/_menu.html' %}

{% block main %}
{% set status = 'disponibles' if active_players else 'indisponibles' %}

<script>
    function confirmDelete(playerId) {
        var result = confirm("Êtes-vous sûr de vouloir supprimer ce joueur?");
        if (result) {
            window.location.href = "delete_player/" + playerId;
        }
    }
</script>
<main>
    {% if players %}
    <table class="players">
        <caption class="table-caption">Liste des joueurs {{ status }}</caption> <!-- Titre ajouté ici -->
        <thead>
        <tr>
            <th>Update</th>
            <th>Delete</th>
            <th>Nom</th>
            <th>Age</th>
            <th>Taille</th>
            <th>Poids</th>
            <th>Equipes</th>
        </tr>
        </thead>
        {% for player in players %}
        <div id="player">
            <tr>
                <td><a href="{{ url_for('update_player', id=player.id) }}">{{player.id}}</a></td>
                <td><button onclick="confirmDelete({{ player.id }})">{{player.id}}</button></td>
                <td>{{ player.name }}</td>
                <td>{{ player.age }}</td>
                <td>{{ player.height }}</td>
                <td>{{ player.weight }}</td>
                <td>{{ player.teams }}</td>
            </tr>
        </div>
        {%endfor %}
    </table>
    {% else %}
    <p style="font-size: 16px; text-align: center;">Pas de joueurs {{status}} ✌️</p>
    {% endif %}
</main>
{% endblock main %}
