<!-- templates/show_team.html -->
{% extends 'base.html' %}
{% include './partials/_menu.html' %}

{% block main %}
<!--<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>-->

<main>
    <table class="pool">
        <caption class="table-caption">Infos {{ club.name }}</caption>
        <thead>
        <tr>
            <th>Pratique</th>
            <th>Nombre de courts</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Tennis</strong></td>
                <td>{{ club.tennis_courts }}</td>
            </tr>
            {% if club.padel_courts %}
                <tr>
                    <td><strong>Padel</strong></td>
                    <td>{{ club.padel_courts }}</td>
                </tr>
            {% endif %}
            {% if club.beach_courts %}
            <tr>
                <td><strong>Beach volley</strong></td>
                <td>{{ club.beach_courts }}</td>
            </tr>
            {% endif %}
            <div id="map"></div>
        </tbody>
    </table>
<!--    <div id="map" style="height: 400px; width: 100%;" data-name="{{ club.name }}" data-latitude="{{ club.latitude }}" data-longitude="{{ club.longitude }}"></div>-->
</main>
<script>
    function initMap() {
        var latitude = document.getElementById('map').getAttribute('data-latitude');
        var longitude = document.getElementById('map').getAttribute('data-longitude');
        var myLatLng = {lat: parseFloat(latitude), lng: parseFloat(longitude)};

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: myLatLng
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: document.getElementById('map').getAttribute('data-name')
        });
    }
</script>


{% endblock main %}
