<!-- templates/teams.html -->

{% extends 'base.html' %}
{% include './partials/_menu.html' %}

{% block main %}
<script>
    function confirmDelete(teamId) {
        var result = confirm("Êtes-vous sûr de vouloir supprimer cette équipe?");
        if (result) {
            window.location.href = "delete_team/" + teamId;
        }
    }
</script>
<main>
    {% if teams %}
    <table class="teams">
        <caption class="table-caption">Liste équipes</caption> <!-- Titre ajouté ici -->
        <thead>
        <tr>
            <th>Update</th>
            <th>Delete</th>
            <th>Nom</th>
            <th>Nb joueurs disponibles</th>
            <th>Capitaine principal</th>
        </tr>
        </thead>
        {% for team in teams %}
        <tr>
            <td><a href="{{ url_for('update_team', id=team.id) }}">{{team.id}}</a></td>
            <td><button onclick="confirmDelete({{ team.id }})">{{team.id}}</button></td>
            <td>{{ team.name }}</td>
            <td>{{ team.players|length }}</td>
            <td>{{ team.captainName or 'Pas de capitaine défini!' }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p style="font-size: 16px; text-align: center;">Pas d'équipe enregistrée ✌️</p>
    {% endif %}
</main>
{% endblock main %}
