<!-- templates/teams.html -->

{% extends 'base.html' %}
{% include './partials/_menu.html' %}

{% block main %}
<script>
    function confirmDelete(teamId) {
        var result = confirm("Êtes-vous sûr de vouloir supprimer cette équipe?");
        if (result) {
            window.location.href = "delete_team/" + teamId;
        }
    }
    // Fonction pour afficher ou masquer l'info-bulle
    function toggleTooltip(element) {
        // Récupérer l'élément de l'info-bulle
        var tooltip = element.querySelector('.tooltiptext');

        // Vérifier si l'appareil est un smartphone (largeur d'écran inférieure à 768px)
        var isMobile = window.innerWidth < 768;

        // Si c'est un smartphone, basculer l'affichage de l'info-bulle sur clic
        if (isMobile) {
            // Vérifier si l'info-bulle est déjà affichée
            var isVisible = tooltip.classList.contains('show');

            // Si l'info-bulle est déjà affichée, la cacher
            if (isVisible) {
                tooltip.classList.remove('show');
            } else {
                // Sinon, afficher l'info-bulle et masquer après 3 secondes
                tooltip.classList.add('show');
                setTimeout(function() {
                    tooltip.classList.remove('show');
                }, 3000); // 3000 ms = 3 secondes
            }
        } else {
            // Si ce n'est pas un smartphone, basculer l'affichage de l'info-bulle sur survol
            tooltip.classList.toggle('show');
        }
    }
</script>
<main>
    {% if teams %}
    <table class="teams">
        <caption class="table-caption">Liste équipes</caption> <!-- Titre ajouté ici -->
        <thead>
        <tr>
            <th>Update</th>
            <th>Delete</th>
            <th>Nom</th>
            <th>Effectif</th>
            <th>Capitaine principal</th>
            <th>Championnat</th>
            <th>N° de poule</th>
            <th>Nb journées</th>
        </tr>
        </thead>
        {% for team in teams %}
        <tr>
            <td><a href="{{ url_for('update_team', id=team.id) }}">{{team.id}}</a></td>
            <td><button onclick="confirmDelete({{ team.id }})">{{team.id}}</button></td>
            <td>{{ team.name }}</td>
            <td>{{ team.players|length }}</td>
            <td>{{ team.captainName or 'Pas de capitaine défini!' }}</td>
            <td>{{ team.championship_name }}</td>
            <td>{{ team.pool.letter or 'Pas de poule définie!' }}</td>
            <td>
                <!-- Tooltip container -->
                <div class="tooltip" onclick="toggleTooltip(this)">
                    {{ team.match_days|length}}
                    <!-- Tooltip with championship match days -->
                    <span class="tooltiptext">
                        {% for match_day in team.match_days %}
                        {{ match_day.date.strftime('%a %d %b %Y') }}{% if not loop.last %}<br> {% endif %}
                        {% endfor %}
                    </span>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p style="font-size: 16px; text-align: center;">Pas d'équipe enregistrée ✌️</p>
    {% endif %}
</main>
{% endblock main %}
