<!-- templates/update_player.html -->
{% extends 'base.html' %}
{% include './partials/_menu.html' %}

{% block main %}
{% set birthDate = player.birthDate.strftime('%Y-%m-%d') if player.birthDate else '' %}

<main>
    <form action="{{ url_for('update_player', id=player.id) }}" , method="POST" , onsubmit="return confirmSubmit();">
        <table class="update-form">
            <caption class="table-caption">Fiche joueur</caption> <!-- Titre ajouté ici -->
            <tr>
                <td><label for="name">Nom</label></td>
                <td><input type="text" name="name" id="player" value="{{ player.name }}"></td>
            </tr>
            <tr>
                <td><label for="birth_date">Date de naissance</label></td>
                <td><input type="date" name="birth_date" value="{{ birthDate }}"></td>
            </tr>
            <tr>
                <td><label for="height">Taille</label></td>
                <td><input type="text" name="height" value="{{ player.height }}"></td>
            </tr>
            <tr>
                <td><label for="weight">Poids</label></td>
                <td><input type="text" name="weight" value="{{ player.weight }}"></td>
            </tr>
            <tr>
                <td><label for="is_active">Disponible</label></td>
                <td><input type="checkbox" name="is_active" {% if player.isActive %}checked{% endif %}></td>
            </tr>
            <tr>
                <td><label for="club_id">Club</label></td>
                <td>
                    <select name="club_id">
                        {% for club in clubs %}
                        {% if club.id == player.clubId %}
                        <option value="{{ club.id }}" selected>{{ club.name }}</option>
                        {% else %}
                        <option value="{{ club.id }}">{{ club.name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Mettre à jour"></td>
            </tr>
        </table>
    </form>
    <script>
        function confirmSubmit() {
            var result = confirm("Are you sure you want to submit the form?");
            return result;
        }
    </script>
</main>
{% endblock main %}
