<!-- templates/new_team.html -->
{% extends 'base.html' %}
{% include './partials/_menu.html' %}

{% block main %}
{% set select_label = 'Sélectionner une joueuse' if gender else 'Sélectionner un joueur' %}
{% set gender_label = 'joueuses' if gender else 'joueurs' %}

<main>
    <form action="{{ url_for('club.new_team') }}" method="POST">
        <table class="update-form">
            <caption class="table-caption">Fiche création équipe {{ championship.name }} - ({{ players|length }} {{ gender_label }} disponibles!) </caption>
            <input type="hidden" name="gender" value="{{ gender }}">
            <input type="hidden" name="championship_id" value="{{ championship.id }}">
            <tr>
                <td><label for="name">Nom équipe</label></td>
                <td><input type="text" name="name" placeholder="Nom" {% if form['name'] %} value="{{ form['name'] }}" {% endif %} required></td>
            </tr>
            {% for player_num in range(1, max_players + 1) %}
            <tr>
                <td><label for="player_name_{{ player_num }}">Joueur {{ player_num }}</label></td>
                <td>
                    <select name="player_name_{{ player_num }}">
                        <option value="">Sélectionner {{'une joueuse' if gender else 'un joueur'}}</option> <!-- Option vide -->
                        {% for player in players %}
                        <option value="{{ player.id }}" {% if form['player_name_' + '%d'|format(player_num)] == player.id ~ '' %} selected {% endif %}>
                            {{ player.name }} [{{ player.ranking }}] ({{ player.age }} ans)
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td><label for="captain_id">Capitaine</label></td>
                <td>
                    <select name="captain_id">
                        <option value="">Sélectionnez {{ 'une' if gender else 'un' }} capitaine</option> <!-- Option vide -->
                        {% for player in players %}
                        <option value="{{ player.id }}" {% if form['captain_id'] == player.id ~ '' %} selected {% endif %}>
                            {{ player.name }} [{{ player.ranking }}] ({{ player.age }} ans)
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Ajouter"></td>
            </tr>
        </table>
    </form>
</main>
{% endblock main %}
