<!-- templates/players.html -->

{% extends 'base.html' %}
{% include './partials/_menu.html' %}

{% block main %}
{% set status = 'disponibles' if active_players else 'indisponibles' %}

<script src="{{ url_for('club.static', filename='manage_player.js') }}"></script>
<main>
    {% if players %}
    <table class="players">
        <caption class="table-caption">Liste des {{ players|length }} {{'joueuses' if gender == 1 else 'joueurs'}} {{ status }} de {{club.name}}</caption> <!-- Titre ajouté ici -->
        <thead>
        <tr>
            <th>Update</th>
            <th>Delete</th>
            <th>Nom</th>
            <th>Age</th>
            <th>Classement</th>
            <th>Genre</th>
            <th>Equipes</th>
        </tr>
        </thead>
        {% for player in players %}
        {% set best_ranking = ' (ex ' + player.license.bestRanking.value + ')' if player.license.bestRanking and player.license.bestRanking.id < player.license.ranking.id %}
        <div id="player">
            <tr>
                <td><a href="{{ url_for('club.update_player', id=player.id) }}">{{player.id}}</a></td>
                <td><button onclick="confirmDelete({{ player.id }})">{{player.id}}</button></td>
                <td>{{ player.name }}</td>
                <td>{{ player.age }}</td>
                <td>{{ player.ranking }}{{ best_ranking}}</td>
                <td>{{ 'F' if player.gender else 'H' }}</td>
                <td>{{ player.teams }}</td>
            </tr>
        </div>
        {%endfor %}
    </table>
    {% else %}
    <p style="font-size: 16px; text-align: center;">Pas de joueurs {{status}} ✌️</p>
    {% endif %}
</main>
{% endblock main %}
