<!-- templates/update_player.html -->
{% extends 'base.html' %}
{% include './partials/_menu.html' %}

{% block main %}
{% set birthDate = player.birthDate.strftime('%Y-%m-%d') if player.birthDate else '' %}
{% set acute_label = 'Aigüe'%}
{% set overuse_label = 'Surmenage'%}
<main>
    <form action="{{ url_for('club.update_player', id=player.id) }}" , method="POST" , onsubmit="return confirmSubmit();">
        <table class="update-form">
            <caption class="table-caption">Fiche joueur ({{ player.club.name }})</caption> <!-- Titre ajouté ici -->
            <tr>
                <td><label for="name">Nom</label></td>
                <td>{{ player.name }}</td>
            </tr>
            <tr>
                <td><label for="birth_date">Date de naissance</label></td>
                <td><input type="date" name="birth_date" value="{{ birthDate }}"></td>
            </tr>
            <tr>
                <td><label for="height">Taille</label></td>
                <td><input type="text" name="height" value="{{ player.height | none_to_zero }}"></td>
            </tr>
            <tr>
                <td><label for="weight">Poids</label></td>
                <td><input type="text" name="weight" value="{{ player.weight | none_to_zero }}"></td>
            </tr>
            <tr>
                <td><label for="ranking">Classement actuel</label></td>
                <td>{{ player.ranking }}</td>
            </tr>
            <tr>
                <td><label for="best_ranking">Meilleur classement</label></td>
                <td>
                    <select name="best_ranking" id="best_ranking">
                        <option value="">Sélectionner un classement</option>
                        {% for best_ranking in best_rankings %}
                            <option value="{{ best_ranking.id }}" {% if player.best_ranking.id == best_ranking.id %}selected{% endif %}>
                                {{ best_ranking.value }}
                            </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="is_active">Disponible</label></td>
                <td><input type="checkbox" name="is_active" {% if player.isActive %}checked{% endif %}></td>
            </tr>
            <tr>
                <td><label for="injuries">Blessures</label></td>
                <td>
                    <select id="injuries" name="injuries[]" multiple>
                        <option value="">Sélectionnez une ou plusieurs blessures</option>
                        {% for injury in injuries %}
                        <option value="{{ injury.id }}" {% if player.has_injury(injury) %}selected{% endif %}>
                            {{ injury.site.name }}->{{ acute_label if injury.type == 0 else overuse_label}}->{{ injury.name }}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" value="Mettre à jour"></td>
            </tr>
        </table>
    </form>
</main>
<script src="{{ url_for('static', filename='confirm_form.js') }}"></script>
{% endblock main %}
