<!-- templates/show_match.html -->

{% extends 'base.html' %}
{% include './partials/_menu.html' %}

{% block main %}
<main>
    <h1>Feuille de match</h1>
    <h2>Journée du {{ match.date.strftime("%a %d %b %Y")}} </h2>
    <h3>{{ match.pool.championship }} - Poule {{ match.pool.letter }}</h3>

    <h2>Équipe à domicile {{ match.homeTeam.club }} </h2>
    <ul>
        {% set sorted_home_players = match.homeTeam.get_available_players(match.matchday) | sort_players_by_elo %}
        {% for player in sorted_home_players %}
        {% set icon_injury = "&#127973; " if player.injuries else '' %}
            <li>{{ icon_injury | safe }}{{ player.full_info }} {{ player.elo_tuple }}</li>
        {% endfor %}
    </ul>

    <h2>Équipe visiteuse {{ match.visitorTeam.club }} </h2>
    <ul>
        {% set sorted_visitor_players = match.visitorTeam.get_available_players(match.matchday) | sort_players_by_elo %}
        {% for player in sorted_visitor_players %}
        {% set icon_injury = "&#127973; " if player.injuries else '' %}
            <li>{{ icon_injury | safe }}{{ player.full_info }} {{ player.elo_tuple }}</li>
        {% endfor %}
    </ul>

    {% if match.score %}
        <h2>Résultat rencontre</h2>
        <p>Score : {{ match.score }}</p>

        <h3>Simples</h3>
        <ul>
            {% for single in match.singles %}
                <li>{{ single.player1.info }} vs {{ single.player2.info }} - Score : {{ single.score }}</li>
            {% endfor %}
        </ul>

        <h3>Doubles</h3>
        <ul>
            {% for double in match.doubles %}
                <li>{{ double.player1.double_info }} - {{ double.player2.double_info }} vs {{ double.player3.double_info }} - {{ double.player4.double_info }} - Score : {{ double.score }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</main>
{% endblock main %}