<!-- templates/simulate_pool.html -->
{% extends 'base.html' %}
{% include './partials/_menu.html' %}

{% block main %}
<main>
    <form action="{{ url_for('championship.simulate_pool', pool_id=pool.id) }}" method="POST">
        <table class="update-form">
            <caption class="table-caption">Simulations poule {{pool}}</caption>
            <tr>
                <td>
                    <input type="number" id="sim_count" name="sim_count" min="1" max="100" placeholder="0" required>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Lancer" onclick="return confirmSimulation()"></td>
            </tr>
        </table>
    </form>

</main>
<script>
    function confirmSimulation() {
        const simCount = document.getElementById('sim_count').value;
        if (!simCount) {
            alert('Please enter a simulation count');
            return false;
        }
        return confirm(`Are you sure you want to simulate this pool ${simCount} times?\nThis will take about ${simCount} minutes!`);
    }
</script>

{% endblock %}
