<!-- templates/select_club.html -->
{% extends 'base.html' %}
{% include './partials/_menu.html' %}

{% block main %}
<form action="{{ url_for('admin.new_club') }}" method="POST">
    {% if clubs %}
    <table class="update-form">
        <caption class="table-caption">Import club</caption>
        <tr>
            <td><label for="club">Club:</label></td>
            <td>
                <select id="club" name="club_id" required>
                    <option value="">Sélectionner un club à importer</option> <!-- Option vide -->
                    {% for club in clubs %}
                        <option value="{{ club['id'] }}">{{ club['name'] }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Continuer"></td>
        </tr>
    </table>
    {% else %}
        <p style="font-size: 16px; text-align: center;">Pas de nouveau club connu! ✌️</p>
    {% endif %}
</form>
{% endblock %}
